    .btn {
        padding: .7rem 2rem;
        font-size: 1.6rem;
        border-radius: 5px;
        border: 1px solid;
        color: #fff;
        white-space: nowrap;
    }
    .btn-danger {
        background-color: red;
    }
    .btn-success {
        background-color: green;
    }
    .btn-accent {
        background-color: #c60fc3;
    }
    .btn-secondary {
        background-color: #f4e02a;
        color: #000;
    }
